.custom-table .ant-table-thead > tr > th {
    background-color: #1C274C;
    color: white;
}

.custom-table .ant-table-thead > tr {
    height: 1px;
}

.custom-table .ant-table-thead > tr > th {
    padding: 16px; /* Adjust padding for better spacing */
}